<!DOCTYPE html>
html
    head
        - var page = { title: 'Аккаунт' }
        include inc/head.pug
        include inc/scripts.pug
    body
        include inc/header1.pug
        include inc/index/content.pug
        include inc/footer.pug


