<!DOCTYPE html>
html
    head
        - var page = { title: 'Модальные окна' }
        include inc/head.pug
        include inc/scripts.pug
    body#body
        include inc/header.pug
        include inc/modal/cont.pug
        include inc/footer.pug