main
    section.main_slider_section
        .container.position-relative
            .main_slider_btn_group
                button.main_slider_btn.main_slider_btn_prev
                button.main_slider_btn.main_slider_btn_next
            .super_main_slider_desktop
                .main_slider.main_slider_desktop.slider_1
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                .main_slider.main_slider_desktop.slider_2
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                .main_slider.main_slider_desktop.slider_3
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                .main_slider.main_slider_desktop.slider_4
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_4.jpg)')
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
            .super_main_slider_mobile
                .main_slider.main_slider_mobile
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_4.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
    .flex_container
        section.opinion
            .container
                p.section_title Мнение
                .row.row_opinion
                    -for(var i=0;i<=4;i++)
                        .col-12.col-sm-6.col-md-4
                            a.item(href="#")
                                span.img(style="background-image:url(img/img1.jpg)")
                                .text
                                    p.name Анатолий Голомолзин
                                    .desc Налоги должны носить не только фискальный, но и регулирующий характер...

        section.subscribe







