main.home
    section.main_slider_section
        .container.position-relative
            .main_slider_btn_group
                button.main_slider_btn.main_slider_btn_prev
                button.main_slider_btn.main_slider_btn_next
            .super_main_slider_desktop
                .main_slider.main_slider_desktop.slider_1
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                .main_slider.main_slider_desktop.slider_2
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                .main_slider.main_slider_desktop.slider_3
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...

                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                .main_slider.main_slider_desktop.slider_4
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_4.jpg)')
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
            .super_main_slider_mobile
                .main_slider.main_slider_mobile
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_1.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_3.jpg)')
                        .caption
                            a(href="#")
                                .title Ольга МОСЕЙЧУК: «BASF рассматривает «Белнефтехим» как приоритетного экономического партнера»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span Видео дня
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_4.jpg)')
                        .caption
                            a(href="#")
                                .title ХИМИК — ЭТО НАВСЕГДА: беседуем с гендиректором ОАО «СветлогорскХимволокно»
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды ...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
                    article.slider_item
                        a.green(href="#")
                            span В блогах
                        .photo
                            a.item_link(href="#" style='background-image:url(img/s_2.jpg)')
                        .caption
                            a(href="#")
                                .title Стремительный Рост Белорусского Лизинга:
                                .desc_overflow
                                    .desc
                                        p Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                        .meta
                            a.comments_count(href="#") 42
                            span.views_count 500
                            span.time 11.25
    section.opinion#opinion
        .container
            p.section_title Мнение
            .row.row_opinion
                -for(var i=0;i<=4;i++)
                    .col-12.col-sm-4.col-md-4.col-xl-4
                        a.item(href="#")
                            span.img(style="background-image:url(img/img1.jpg)")
                            .text
                                p.name Анатолий Голомолзин
                                .desc Налоги должны носить не только фискальный, но и регулирующий характер...


    .container
        .row
            .col-12

            .col-12.col-sm-12.col-md-12.col-xl-9.content
                section.subscribe#subscribe_home
                    .subscribe_form_container
                        form.row.subscribe_form
                            .col-12.col-sm-8.col-md-8.col-xl-8.col_left
                                .input_field
                                    label Самые горячие темы <span class="line"></span>
                                    input.form-control(type="text" placeholder="Введите E-mail...")
                                    hr
                            .col-12.col-sm-4.col-md-4.col-xl-4.col_right
                                .btn_field
                                    button.s_btn(type="submit")
                                        span.text Подписаться
                                        span.icon






                section.main_news_section
                    .row.news_list.grid_news#news_list
                        .col-12.col-sm-12.col-md-12.col-xl-8.grid-item.w2
                            p.section_title НЕФТЬ
                            article.type_news.first
                                a.category(href="#") Блоги
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов с достаточно выгодным экономико-географическим положением, высоким научно-техническим и промышленным потенциалом, развитой социальной инфраструктурой, высоким уровнем развития человеческого капитала. В конце апреля...
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25


                        .col-12.col-sm-6.col-md-6.col-xl-4.d-none.d-xl-block.grid-item
                            section.latest_news#latest_news_home
                                p.section_title Свежие новости
                                article.type_latest_news
                                    a.item_title(href="#") <span class="time">09:30</span> Администрация Дональда Трампа расширила полномочия американского киберкомандования
                                    .item_desc Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        a.share(href="#")


                                article.type_latest_news
                                   a.item_title(href="#") <span class="time">09:30</span> Администрация Дональда Трампа
                                   .item_desc Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                                   .meta
                                       a.comments_count(href="#") 42
                                       span.views_count 500
                                       a.share(href="#")


                                article.type_latest_news
                                    a.item_title(href="#") <span class="time">09:30</span> Администрация Дональда Трампа расширила полномочия американского киберкомандования
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        a.share(href="#")
                                article.type_latest_news
                                    a.item_title(href="#") <span class="time">09:30</span> Администрация Дональда Трампа расширила полномочия американского киберкомандования
                                    .item_desc Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        a.share(href="#")
                                article.type_latest_news
                                    a.item_title(href="#") <span class="time">09:30</span> Администрация Дональда Трампа расширила полномочия американского киберкомандования
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        a.share(href="#")
                                article.type_latest_news
                                    a.item_title(href="#") <span class="time">09:30</span> Администрация Дональда Трампа
                                    .item_desc Теперь ведомство может осуществлять ежедневные хакерские рейды на иностранные сети для предупреждения кибератак, сообщает «Нью-Йорк Таймс»...
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        a.share(href="#")






                                a.read_more(href="#") все новости...
                        .col-12.col-sm-6.col-md-6.col-xl-4.grid-item
                            article.type_news.lines
                                a.category(href="#") Мнения
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов с достаточно выгодным экономико-географическим положением, высоким научно-техническим и промышленным потенциалом, развитой социальной инфраструктурой, высоким уровнем развития человеческого капитала. В конце апреля...
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25


                        .col-12.col-sm-6.col-md-6.col-xl-4.grid-item
                            article.type_news
                                a.category(href="#") Блоги
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов с достаточно выгодным экономико-географическим положением, высоким научно-техническим и промышленным потенциалом, развитой социальной инфраструктурой, высоким уровнем развития...
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25
                        .col-12.col-sm-6.col-md-6.col-xl-4.grid-item
                            article.type_news
                                a.category(href="#") Мнения
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов с достаточно выгодным экономико-географическим положением, высоким научно-техническим и промышленным потенциалом, развитой социальной инфраструктурой, высоким уровнем развития человеческого капитала. В конце апреля...
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25




                        .col-12.col-sm-6.col-md-6.col-xl-4.grid-item
                            article.type_news
                                a.category(href="#") Блоги
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов с достаточно выгодным экономико-географическим положением
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25




                        .col-12.col-sm-12.col-md-6.col-xl-4.grid-item
                            article.type_news.border_topright
                                a.category(href="#") Мнения
                                .row
                                    .col-12.col-sm-4.col-md-4.col-xl-12
                                        a.photo(href="#" style="background-image:url(img/news.jpg)")
                                    .col-12.col-sm-8.col-md-8.col-xl-12
                                        a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                        .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов с достаточно выгодным экономико-географическим положением, высоким научно-техническим...
                                        .meta
                                            a.comments_count(href="#") 42
                                            span.views_count 500
                                            a.share(href="#")
                                            span.time 11.25






                    .col-12.load_more_block
                        button.load_more показать <span class="load_more_icon"></span> большe
            .col-12.col-sm-12.col-md-12.col-xl-3.sidebar
                section.gallery
                    p.section_title.mt-0 Фотогалерея
                    .gallery_slider
                        div.item
                            .photo(style="background-image:url(img/gal1.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal2.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal3.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal7.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal3.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                                .caption
                                    p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                    .gallery_slider_nav
                        div.item
                            .photo(style="background-image:url(img/gal1.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal2.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal3.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal7.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal3.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal7.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal3.jpg)")
                        div.item
                            .photo(style="background-image:url(img/gal4.jpg)")

                section.video_gallery
                    p.section_title Видео
                    .video_gallery_overflow
                        .row
                            .col-12.col-sm-12.col-md-12
                                .video_gallery_item
                                    .playpause
                                    .time 2.06
                                    .caption
                                        p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                                    video.video
                                        source(src="img/Landscape.mp4" width="100%" height="150")
                            .col-12.col-sm-6.col-md-12
                                .video_gallery_item
                                    .playpause
                                    .time 2.06
                                    .caption
                                        p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                                    video.video
                                        source(src="img/Landscape.mp4" width="100%" height="150")
                            .col-12.col-sm-6.col-md-12
                                .video_gallery_item
                                    .playpause
                                    .time 2.06
                                    .caption
                                        p <span class="text-uppercase">КОРПОРАТИВНЫЕ МЕДИА:</span><br> Инструмент или бизнес?
                                    video.video
                                        source(src="img/Landscape.mp4" width="100%" height="150")



                section.sidebar_news
                    .row
                        .col-8
                            p.section_title.mt-1 Кругозор
                        .col-4
                            .btn_group_slider_news
                                button.btn_slider_news.btn_slider_news_prev
                                button.btn_slider_news.btn_slider_news_next
                    .article_list.article_sidebar_slider
                        -for(var i=1;i<=5;i++)
                            article.type_news
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25

    section.refueling.section_fullwidth
        .container
            p.section_title Заправка
            .border_top
                .row.article_list_fullwidth.article_list_fullwidth_slider
                    -for(var i=1;i<=15;i++)
                        .col-12.col-sm-6.col-md-4.col-xl-3.item
                            article.type_news
                                a.category(href="#") Блоги
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25

    section.people.section_fullwidth
        .container
            p.section_title Люди
            .row
                .col-12.col-sm-12.col-md-6.col-xl-4
                    .row
                        .col-12.col-sm-6.col-md-6.col-xl-6
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25

                        .col-12.col-sm-6.col-md-6.col-xl-6.d-none.d-sm-block
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25
                        .col-12.col-sm-6.col-md-6.col-xl-6.d-none.d-md-block
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25
                        .col-12.col-sm-6.col-md-6.col-xl-6.d-none.d-md-block
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25
                .col-12.col-sm-6.col-md-6.col-xl-4.d-none.d-md-block
                    article.type_people.center
                        a.item(href="#")
                            img(src="img/people.jpg")
                        .caption
                            a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                            .meta
                                a.comments_count(href="#") 42
                                span.views_count 500
                                span.time 11.25
                .col-12.col-sm-12.col-md-6.col-xl-4.d-none.d-md-block
                    .row
                        .col-12.col-sm-6.col-md-6.col-xl-6
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25
                        .col-12.col-sm-6.col-md-6.col-xl-6.d-none.d-md-block
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25
                        .col-12.col-sm-6.col-md-6.col-xl-6.d-none.d-md-block
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25
                        .col-12.col-sm-6.col-md-6.col-xl-6.d-none.d-md-block
                            article.type_people
                                a.item(href="#")
                                    img(src="img/people.jpg")
                                .caption
                                    a.title(href="#") КОРПОРАТИВНЫЕ МЕДИА: Инструмент или бизнес?
                                    .meta
                                        a.comments_count(href="#") 42
                                        span.views_count 500
                                        span.time 11.25



            a.read_more(href="#") Все персоны
    section.belorusneft.section_fullwidth
        .container
            p.section_title Белоруснефть
            .border_top
                .row.article_list_fullwidth.article_list_fullwidth_slider
                    -for(var i=1;i<=9;i++)
                        .col-12.col-sm-6.col-md-4.col-xl-3.item
                            article.type_news
                                a.category(href="#") Блоги
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25
    section.society.section_fullwidth
        .container
            p.section_title Общество
            .border_top
                .row.article_list_fullwidth.article_list_fullwidth_slider
                    -for(var i=1;i<=8;i++)
                        .col-12.col-sm-6.col-md-4.col-xl-3.item
                            article.type_news
                                a.category(href="#") Блоги
                                a.photo(href="#" style="background-image:url(img/news.jpg)")
                                a.article_name(href="#") Беларусь и Татарстан наращивают товарооборот
                                .article_desc  Республика Татарстан — один из наиболее значимых торгово-экономических партнеров Республики Беларусь среди российских регионов
                                .meta
                                    a.comments_count(href="#") 42
                                    span.views_count 500
                                    a.share(href="#")
                                    span.time 11.25















